<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mesaj de avertizare</title>
    <style>
        body{background: linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.6)),
            url('/imagines/unloadFridges.jpg');
            background-size: cover;
        }
        .center{
            text-align: center;
            margin-top: 200px;
        }
        p{margin-top: 30px; margin-left: 50px;}
    </style>
</head>
<body>
<p><a href="/fridges">Inapoi</a></p>
<div class="center">
<h1>Ne pare rau, dar in momentul de fata nu mai avem produse din gama selectata.<br></h1>
<h2>In cel mai scurt timp, le veti gasi din nou in magazinul nostru.</h2>
</div>

</body>
</html>